@font-face {
  font-family: cardo;
  src: url("../fonts/Cardo-Regular.ttf");
}
@font-face {
  font-family: cardo-bold;
  src: url("../fonts/Cardo-Bold.ttf");
}
body{
  background: rgb(250, 249, 249);
  background: radial-gradient(circle, rgb(222, 195, 207) 0%, rgb(65, 68, 72) 61%);
}
.container {
  width: 820px;
  height: 480px;
  background: linear-gradient(
    0deg,
    rgb(11, 1, 1) 0%,
    rgb(68, 65, 68) 100%
  );
  font-family: cardo;
}
.tab-item {
  background-color: black;
  width: 100px;
  height: 50px;
  padding-top: 13px;
  border-right: 1px solid white;
  cursor: pointer;
}
.tab-item:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  font-family: cardo-bold;
  transition: all 0.3s;
}
.tab-row :last-child {
  border-right: none;
  border-radius: 0 0 20px 0;
}
.tab-row :first-child {
  border-radius: 0 0 0 20px;
}
.tab-text {
  border-radius: 5px;
}
.tab-item:active {
  background-color: white;
}
.active {
  background-color: black;
  height: 65px;
  color: white;
  border-top: 5px solid black;
  border-radius: 0 0 0 0 !important;
}
ul {
  margin: 0;
}
.active-tab{
  border-bottom: 5px solid black;
}
.tab-text{
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.366);
  background-blend-mode:darken;
  color: white;
  background-size: cover;
  background-position: center;
}
.tab-text-1{
  background-image:url('../images/malcom-1.jpg');
  background-size: cover;
  background-position: center;
}.tab-text-2{
  background-image:url('../images/malcom-2.jpg');
}.tab-text-3{
  background-image:url('../images/malcom-3.jpg');
}.tab-text-4{
  background-image:url('../images/malcom-4.jpg');
}.tab-text-5{
  background-image:url('../images/malcom-5.jpg');
}
